{% extends "asp/header.html" %}
{% block content %}
<h1>Dispatch Site</h1>
<h4>Here you can see all the orders that will be dispatched in this batch</h4>
<ul>
    {% for order in orders %}
        <li>
            <p>{{ order }}</p>
        </li>
    {% endfor %}
</ul>

{% if orders|length  > 0 %}

        <form action="/asp/downloadItinerary" method="get">
            {% csrf_token %}
            <input type="hidden" name="download" value="1">
            <input type="submit" value="Download CSV">
        </form>
        <form action="/asp/viewDispatch" method="post">
            {% csrf_token %}
            <input type="submit" value="Dispatch">
        </form>
{% endif %}

<br>

<form action="/asp/logout" method="get">
    <input type="submit" value="Log out">
</form>

{% endblock %}
