{% extends "asp/header.html" %}
{% block content %}
<h1>This is dispatch site</h1>
<h4>You can download the itinerary and dispatch the drone here</h4>
<ul>
    {% for order in orders %}
        <li>
            <p>{{ order }}</p>
        </li>
    {% endfor %}
</ul>

{% if count > 0 %}
    {% comment %} <form action="" method="get">
        {% csrf_token %}
        <input type="hidden" name="download" value="1">
        <input type="submit" value="Download CSV">
    </form> {% endcomment %}
    <form action="/asp/viewDispatch" method="post">
        {% csrf_token %}
        <input type="hidden" name="count" value="{{ count }}">
        <input type="submit" value="Dispatch">
    </form>
{% endif %}
{% endblock %}
