<!-- all the interface can be extended from this header -->
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Market Place</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"></head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    {% load static %}
    <script type="text/javascript" src="{% static "asp/script.js" %}"></script>
<body>
    <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
      <span class="navbar-text">
        AS-P
      </span>
    </nav>

    <div>
       {% block content %}
       {% endblock %}
    </div>
</body>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</html>
