{% extends "asp/header.html" %}
{% block content %}
<h1>This is the marketplace</h1>
<h4>You can view the available stocks, and place your order here</h4>

<p class="text-danger">{{ err }}</p>
<p class="text-warning">{{ warning }}</p>
<p class="text-success">{{ success }}</p>



<form action="/asp/placeOrder" method="get">
    <ul>
    {% for category, items in item_list.items %}
         <li>
             <h3>Category - {{category}}</h3>
             <ol>
                 {% for item in items %}
                    <li>
                        <label for={{item.name}}> {{ item.name }}  - </label>
                        <input id={{item.name}} type="number" name={{item.name}} value="0">
                        <br>
                        <span>Description - {{item.description}}</span>
                        <br>
                        <span>Shipping Wieght - {{item.weight}}</span>
                    </li>
                 {% endfor %}
             </ol>
    {% endfor %}
    </ul>
    <label for=priority> Priority  - </label>
    <select name="priority" id="priority">
        <option value="low">Low</option>
        <option value="medium">Medium</option>
        <option value="high">High</option>
    </select>
    <input type="submit" value="Place Order">
</form>

{% endblock %}


<!-- from backend pass a weight_limit so that this webpage can directly compute
if the weight of the selected orders has exceeded the limit and thus disable the checkboxes-->


<!-- when the checkbox is clicked, a textfield should pop up so that user can enter the quantity they want -->
