{% extends "asp/header_CM.html" %}
{% block content %}
{% load static %}
<script type="text/javascript" src="{% static "asp/marketPlace.js" %}"></script>

<h1>This is the marketplace</h1>
<h4>You can view the available stocks, and place your order here</h4>

<p class="text-danger">{{ err }}</p>
<p class="text-warning">{{ warning }}</p>
<p class="text-success">{{ success }}</p>



<form action="/asp/marketPlace" method="get">
    <ul>
    {% for category, items in item_list.items %}
        <li>
            <h3>Category - {{category}}</h3>
            <ol>
                {% for item in items %}
                    <div id="{{ item.name }}">
                        <li>
                            <label for="{{ item.name }}"> {{ item.name }}  - </label>
                            <input class="itemQuantity" type="number" min="0" name="{{ item.name }}" value="0">
                            <input class="itemWeight" type="hidden" value="{{ item.weight }}">
                            <br>
                            <div>
                                {% if item.image %}
                                <img src="{{item.image.url}}" height="100" />
                                {% endif %}
                            </div>
                            <br>
                            {% if item.description %}
                            <span>Description - {{item.description}}</span>
                            {% endif %}
                            <br>
                            <span>Shipping Wieght - {{item.weight}}</span>
                        </li>
                    </div>
                {% endfor %}
            </ol>
        </li>
    {% endfor %}
    </ul>
    <h2>Weight of order: <span id="sumWeight"></span>kg</h2>
    <label for=priority> Priority  - </label>
    <select name="priority" id="priority">
        <option value="low">Low</option>
        <option value="medium">Medium</option>
        <option value="high">High</option>
    </select>
    <p id="overweight" class="text-danger"></p>
    <input id="placeOrder" type="submit" value="Place Order">
</form>

{% endblock %}


<!-- from backend pass a weight_limit so that this webpage can directly compute
if the weight of the selected orders has exceeded the limit and thus disable the checkboxes-->


<!-- when the checkbox is clicked, a textfield should pop up so that user can enter the quantity they want -->
