{% extends "asp/header_CM.html" %}
{% block content %}
<h1>Order Viewing and Tracking</h1>
<h4>Here you can see your orders that have not yet been delivered</h4>
<ul>
    {% for order, items in orders.items %}
        <li>
            <p>
                {{ order }}
                <ul>
                    {% for item in items %}
                    <li>
                        {{ item }}
                    </li>
                    {% endfor %}
                </ul>
                {% if order.status == "QFP" %}
                    <form action="/asp/cancelOrder" method="post">
                        {% csrf_token %}
                        <input type="submit" value="Cancel">
                        <input type="hidden" name="Order_ID" value="{{order.id}}">
                    </form>
                {% endif %}
            </p>
        </li>
    {% endfor %}
</ul>
{% endblock %}
