{% extends "asp/header.html" %}
{% block content %}
<h1>Welcome to the warehouse!</h1>
<h2>Get ready to dispatch!</h2>

<ul>
    <li>Order Number: {{order_to_display.id}}</li>
    <li>Order placed at: {{order_to_display.time_queued_processing}}</li>
    <li>Priority: {{order_to_display.getPriorityString}}</li>
    <li>Weight: {{order_to_display.getTotalWeightRounded}}</li>
</ul>

<br>

<form action="/asp/downloadShippingLabel" method="get">
    <input type="hidden" name="order_id" value="{{order_to_display.id}}">
    <input type="submit" value="Download Shipping Label">
</form>

<form action="/asp/viewWarehouse" method="get">
    <input type="hidden" name="order_id" value="{{order_to_display.id}}">
    <input type="submit" value="Queue for dispatch">
</form>

<br>

<form action="/asp/logout" method="get">
    <input type="submit" value="Log out">
</form>

{% endblock %}
