{% extends "asp/header.html" %}
{% block content %}
<h1>Welcome to the warehouse!</h1>
<h2>Pack and get ready for processing when ready!</h2>

<ul>
{% for order in orders %}
    <li>
        <h4>Order Number: {{order.id}}</h4>
        <p>Order placed at: {{order.time_queued_processing}}</p>
        <p>Priority: {{order.getPriorityString}}</p>
        <p>Weight: {{ order.getTotalWeightRounded }}</p>
    </li>
{% endfor %}
</ul>

{% if orders|length > 0 %}

<form action="/asp/viewWarehouseProcessing/{{ first_order }}" method="get">
   <input type="submit" value="Begin picking and packing">
</form>

{% endif %}
<br>
{% endblock %}
