{% extends "asp/header.html" %}
{% block content %}
<h1>Welcome to the warehouse!</h1>
<h2>Pack and get ready for processing when ready!</h2>


<ul>
{% for order in orders %}
    <li>
            <h2>Order Number: {{order.id}}</h2>
            <h4>Order placed at: {{order.time_queued_processing}}</h4>
            <h4>Priority: {{order.getPriorityString}}</h4>
            <h4>Weight: {{order.getTotalWeight}}</h4>
         <form action="/asp/viewWarehouse" method="get">
            <input type="hidden" name="id" value="{{order.id}}">
            <input type="submit" value="Begin picking and packing">
        </form>
    </li>
{% endfor %}

<br>

<form action="/asp/logout" method="get">
    <input type="submit" value="Log out">
</form>

{% endblock %}

