{% extends "asp/header.html" %}
{% block content %}
<h1>Welcome to the warehouse!</h1>
<h2>Pack and get ready for processing when ready!</h2>
<br>
<br>
<br>

<ul>
{% for order in orders %}
    <li>
        <h4>Order Number: {{order.id}}</h4>
        <p>Order placed at: {{order.time_queued_processing}}</p>
        <p>Priority: {{order.getPriorityString}}</p>
        <p>Weight: {{ order.getTotalWeightRounded }}</p>
    </li>
{% endfor %}
</ul>

{% if orders|length > 0 %}

<form action="/asp/viewWarehouseProcessing" method="get">
   <input type="hidden" name="order_id" value="{{ first_order }}">
   <input type="submit" value="Begin picking and packing">
</form>

{% endif %}
<br>

<form action="/asp/logout" method="get">
    <input type="submit" value="Log out">
</form>

{% endblock %}
